.body-modal-password{
    font-family: 'Barlow', sans-serif;
    height: 550px;
    width: 600px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 6px;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, .5);
    background:rgb(221, 220, 220);
}

.body-modal-password>h1{
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.box-information-change-password{
    position: absolute;
    top: 4rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 320px;
    width: 100%;
    margin: 20px 0;
}

.formik-input-container-change-label{
    position: absolute;
    font-family: 'Rockwell';
    font-weight: 400;
    font-size: larger;
    line-height: 19px;
    text-transform: capitalize;
    color: #000000;
    padding-left: 20px;
}

.formik-input-container-change-label>label{
    display: block;
    padding-top: 60px;
}


.formik-input-container-change-input{
    width: 350px;
    position: absolute;
    right: 0;
    justify-content: center;
    padding-top: 33px;
    height: 200px;
    align-items: center;
    text-align: center;
}
.formik-input-container-change-input>div>input{
    margin: 19px;
    padding: 15px;
    outline: none;
    color: #4A4A4A;
    padding: 10px;
    margin-right: 40px;
    width: 200px;
    height: 40px;
}

.err-msg{
    /* position: absolute; */
    right: 5rem;
    font-size: 13px;
    font-family: 'Rockwell';
    color: #CC4D4C;
}

.box-change-pass-btn>button{
    position: absolute;
    top: 29rem;
    right: 13rem;
    width: 160px;
    height: 40px;
    margin-top: 10px;
    margin-left: 70px;
    border: 3px solid rgb(35, 150, 81);
    font-family: 'Barlow', sans-serif;
    border-radius: 6px;
    color: rgb(35, 150, 81);
    cursor: pointer;
    transition: .3s;
    font-size: larger;
}

.box-change-pass-btn>button:hover{
    background-color: rgb(14, 107, 52);
    color: white;
}

.close-btn-password{
    position: absolute;
    top: 29rem;
    right: 3rem;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-left: 70px;
    border: 3px solid rgb(236, 100, 100);
    font-family: 'Barlow', sans-serif;
    border-radius: 6px;
    color: rgb(236, 100, 100);
    cursor: pointer;
    transition: .3s;
    font-size: larger;
}

.close-btn-password:hover{
    background-color: #ec1313;
    color: white;
}

.succes-form-password{
    position: absolute;
    top: 25.5rem;
    width: 100%;
}

.circular-change-password{
    position: absolute;
    top: 29.3rem;
    left: 18rem;
}