.profile-page{
    background-color: #FFFFFA;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.profile-page>h1{
    position: absolute;
    top: 6.5rem;
    left: 13.5rem;
    font-family: 'Barlow', sans-serif;
}

.profile-page>p{
    font-family: 'Barlow', sans-serif;
    position: absolute;
    top: 9.5rem;
    left: 13.5rem;
    color: gray;
}

.pic-profilepage{
    position: absolute;
    top: 12rem;
    left: 50rem;
    height: 100px;
    width: 400px;
    font-family: 'Barlow', sans-serif;
}

.pic-profilepage>div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.pic-profilepage>h2{
    display: block;
}

.pic-profilepage>div>div>p{
    display: block;
    width: 200px;
    margin: 20px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: #ff7f7d;
    padding: 10px 10px 10px 40px;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
    align-items: center;
}

.profile-page>form{
    position: absolute;
    left: 13rem;
    top: 13rem;
}

.form-profile-signin{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.form-profile-signin>h4, .add-bio>h4{
    margin-top: 30px;
    display: flex;
    font-family: 'Rockwell';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: black;
}

.form-profile-signin>p{
    padding: 10px;
    outline: none;
    color: gray;
    display: flex;
    font-size:x-large;
    font-family: 'Barlow', sans-serif;
}

.add-bio{
    position: absolute;
    width: 300px;
    top: 12rem;
    left: 38rem;
}

.add-bio>p{
    resize: none;
    margin-top: 20px;
    font-family: 'Barlow', sans-serif;
    font-size: larger;
    padding: 5px;
    color: gray;
}

.input-submit-profile{
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    outline: none;
    color: black;
    display: flex;
    font-size: larger;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
}

.input-submit-profile:disabled{
    cursor: not-allowed;
    background-color: gray;
}

.input-submit-profile:hover{
    background-color: black;
    color: white;
}

.btn-contact-page{
    position: absolute;
    top: 42rem;
    left: 13rem;
    margin: 30px 30px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.btn-contact-page>a{
    text-decoration: none;
}